<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105912438889-jv7uj80q8c4h6fs62ufkp6hljpimsa6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105912438889-jv7uj80q8c4h6fs62ufkp6hljpimsa6l</string>
	<key>API_KEY</key>
	<string>AIzaSyAf4mtr82ZhvrigSRJhOa15-PuNuSD4sRs</string>
	<key>GCM_SENDER_ID</key>
	<string>105912438889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycobaltsoftware.cobaltengage</string>
	<key>PROJECT_ID</key>
	<string>cobalt-engage</string>
	<key>STORAGE_BUCKET</key>
	<string>cobalt-engage.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105912438889:ios:fbb869acdad6a283a812f8</string>
	<key>DATABASE_URL</key>
	<string>https://cobalt-engage.firebaseio.com</string>
</dict>
</plist>